.container {
    max-width: 800px;
    padding-top: 10px;
    position: relative;
    font-family: 'Helvetica Neue', sans-serif;
    color: #404246;
}

.centered {
    text-align: center;
}

/*.btn-primary {*/
/*    background-color: #c8102e;*/
/*    border: #c8102e;*/
/*}*/

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
    /*color: #ffffff;*/
    background-color: #10a0c8e6;
    border-color: #10a0c8e6;
}


.header {
    font-size: 1.7em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

input[type=submit] {
    background-color: #05c9f6df;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.95em;
}

input[type=submit]:hover {
    background-color: #850a1e;
}

.search-text {
    border: 1px solid #5f6368;
    box-shadow: none;
    z-index: 3;
    height: 42px;
    margin: 0 auto;
    width: auto;
    min-width: 300px;
    max-width: 584px;
    font-size: 0.95em;
    adding-left: 5px;
}



/* Styling for document meta information (e.g., date) */
.doc-meta {
    font-size: 0.85em; /* Smaller font size for date */
    color: gray; /* Optional: lighter color for distinction */
}

/* Styling for the document URL */
.doc-url a {
    font-size: 0.85em; /* Smaller font size for URL */
    color: #1e90ff; /* Blue color for link */
    text-decoration: none;
    display: block; /* Ensure the URL appears on a new line */
    margin-top: 5px; /* Add some space above */
}

.doc-url a:hover {
    color: #00bfff; /* Lighter blue on hover */
}

/* Optional: Add some spacing between items */


/* Increase spacing between items */
.pb-3 {
    padding-bottom: 15px; /* Increased padding */
    margin-bottom: 20px; /* Optional: Add margin for more separation */
    
}

