<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Detail - IRWA Search Engine</title>
</head>
<body>
<div><a href="#" onclick="history.go(-1)">Go Back</a></div>
<div><a href="#" onclick="history.go(-2)">Go Back 2 pages</a></div>
<div><a href="#" onclick="history.go(-3)">Go Back 3 pages</a></div>
<div><a href="#" onclick="history.go(-4)">Go Back 4 pages</a></div>
<div><a href="/stats" >Stats</a></div>
<div><a href="/dashboard" >Dashboard</a></div>
</body>
</html> -->


{% extends "base.html" %}
{% block page_title %}Document Details{% endblock %}
{% block content %}
    
    <p><strong>{{ document.title }}</strong></p>
    <p><strong>Description:</strong><small> {{ document.description }}</small></p>
    <p><strong>Date:</strong><small> {{ document.doc_date }}</small></p>
    <p><strong>Likes:</strong><small> {{ document.likes }} </small></p>
    <p><strong>Retweets:</strong><small> {{ document.retweets }} </small></p>
    
    <!-- Display the URL -->
    <p><strong>URL:</strong><small><a href="{{ document.url }}" target="_blank">{{ document.url }}</a></small></p>
    <p><strong>ID:</strong><small> {{ document.id }}</small></p>
    
    <!-- Display stats -->
    <p><strong>Number of clicks:</strong><small> {{ click_count }}</small></p>


    <div class='content'>
        <div class='centered'>
            <a href="/results">Go Back</a> |
            <a href="#" onclick="history.go(-2)">Go Back 2 pages</a> |
            <a href="/stats">Stats</a> | 
            <a href="/dashboard">Dashboard</a>
            
        </div>
    </div>

{% endblock %}

