{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}


    <h2>HTTP</h2>
    <div class="pb-3">

        <!-- Requests Data -->
        <h4>Requests Data:</h4>
        <p>Total Requests: {{ total_requests }}</p>

        <!-- HTTP Sessions Data -->
        <h4>HTTP Sessions Data:</h4>
        <p>Unique Visitors: {{ unique_visitors }}</p>

        <!-- Clicks -->
        <h4>Clicks:</h4>
        <p>Total Clicks: {{ total_clicks }}</p>

        <!-- Average Clicks per Document -->
        <h4>Average Clicks per Document:</h4>
        <p>{{ average_clicks_per_doc }}</p>

    </div>


    <h2>Queries</h2>
    <div class="pb-3">
        {% if analytics_queries %}
            {% for query_data in analytics_queries %}
                <div>
                    <strong>Query:</strong> {{ query_data['query'] }}<br>
                    <strong>Number of Words:</strong> {{ query_data['num_words'] }}<br>
                    <strong>Query Length:</strong> {{ query_data['query_length'] }} characters<br>
                    <strong>Terms:</strong> {{ query_data['terms'] | join(", ") }}<br>
                    <strong>Term Order:</strong> {{ query_data['term_order'] | join(", ") }}<br>
                    <strong>Timestamp:</strong> {{ query_data['timestamp'] }}<br>
                    <strong>Visitor ID:</strong> {{ query_data['visitor_id'] }}
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>No query analytics available at the moment.</p>
        {% endif %}
    </div>


    <h2>Results (Documents)</h2>
    <div class="pb-3">


        <!-- Display Recent Searches -->
        <h4>Recent Searches:</h4>
        <ul>
            {% for search in recent_searches %}
                <li>{{ search }}</li>
            {% endfor %}
        </ul>

        <!-- Clicks on Documents -->
        <h4>Clicked Documents:</h4>
        {% if clicks_data %}
            {% for doc in clicks_data %}
                <div>
                    <span class="text-dark">({{ doc.count }} visits)</span>
                    — id: {{ doc.id }} — {{ doc.description }}<br>
                    <strong>Ranking:</strong> {{ doc.rank }}
                    <strong>Query Related:</strong> {{ doc.query_related }}
                    <strong>Dwell Time:</strong> {{ doc.dwell_time }} seconds
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>No documents have been clicked yet.</p>
        {% endif %}

    </div>


    <h2>User Context (Visitor)</h2>
    <div class="pb-3">
        <h4>Visitor Data:</h4>
        <p>Browser: {{ visitor_data.browser }}</p>
        <p>Operating System: {{ visitor_data.os }}</p>
        <p>Device: {{ visitor_data.device }}</p>
        <p>Time of the Day: {{ visitor_data.time_of_day }}</p>
        <p>Date: {{ visitor_data.date }}</p>
        
    </div>


    
{% endblock %}


